body {
    background-color: #87858578;
    color: #242424;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #dad7d7;
}

#titulo {
    color: #f01b86bd;
    font-weight: bold;
}

.container-custom {
    max-width: 800px;
    margin-top: 40px;
    padding: 20px;
    background-color: #3b3b3b;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

button, .btn-primary {
    background-color: #f01b86bd;
    color: #f4f1f1;
    font-style: italic;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

button:hover, .btn-primary:hover {
    background-color: #f01b86bd;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.table th {
    background-color: #f01b86bd;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    color: #d4d1d1;
}

.table td {
    background-color: #f2e1e9ed;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    color: #242424;
}

.card {
    background-color: #cecece92;
    border: 1px solid #383636;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

a {
    color: #ff007f;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #cc006b;
}

.top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.top-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-bar ul li {
    display: inline;
    margin: 0 15px;
}

.top-bar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.seccion, .subseccion {
    display: none;
    padding: 20px;
}

.seccion.active, .subseccion.active {
    display: block;
}